

    <header>
        <div class=" header-user  bg-white border-bottom box-shadow mb-1">
            <div>
                @* Container com o icon Home e Texto *@
                <a class="container-home" asp-area="" asp-controller="Home" asp-action="Home">
                    <img class="icon-home" id="home" src="/assets/icon-home.svg" alt="">
                    <button asp-action="Index" type="button" class="btn btn-link">
                        Painel Etym
                    </button>
                </a>
            </div>

            <div class="user-user">
                <span class="user-name"> Nome do Funcionário </span>
                <a class="user-img " asp-area=""
                   asp-controller=""
                   asp-action="Index">
                    <img id="home" src="~/assets/User-default.svg"
                         class="icon-user"
                         alt="Imagem User">
                </a>
            </div>
        </div>
    </header>
 
  