@{
    ViewData["Title"] = "Home Page";
}


<partial name="_Header" model="Model"></partial>

<div class="navegacao bg-white border-bottom box-shadow mb-1">


    <ul class="lista-nav">
        <li class="list">
            <a 
               asp-area="" 
                asp-controller="Func" 
                asp-action="ListaFuncionarios"
                data-controller="Func"
            >
                <img src="/assets/func-adm.svg" 
                    class="navegacao-image" 
                    alt="..."
                >
                Funcionário
            </a>
        </li>
        <li class="list">
            <a 
               asp-area="" 
                asp-controller="Departamento" 
                asp-action="Index"
                data-controller="Departamento"
            >
                <img src="/assets/depart-plus.svg" 
                     class="navegacao-image"
                     alt="..."
                >
                Departamento
            </a>
        </li>
        <li class="list">
            <a 
                asp-area="" 
                asp-controller="Home" 
                asp-action="Index"
                data-controller="Home"
            >
                <img src="/assets/dashboard-adm.svg" 
                     class="navegacao-image" 
                     alt=""
                >
                Dashboard
            </a>
        </li>
        <li class="list">
            <a 
               asp-area="" 
                asp-controller="Wbs" 
                asp-action="Index"
                data-controller="Wbs"
            >
                <img src="/assets/wbs-adm.svg" 
                     class="navegacao-image" 
                     alt=""
                >
                WBS
            </a>
        </li>
        <li class="list">
            <a 
               asp-area="" 
                asp-controller="Calendar" 
                asp-action="Index"
                data-controller="Calendar"
            >
                <img src="/assets/myte-adm.svg" 
                     class="navegacao-image" 
                     alt="..."
                >
                MyTE
            </a>
        </li>

    </ul>
    <div>

    </div>

    @* Pesquisa*@
    @* <div class="pesquisa-botaoAddFunc">
        <div class="pesquisar">
            <input type="text" placeholder="Pesquisar" aria-label="Pesquisar" aria-describedby="button-addon2">
            <button class="button-pesquisar" type="button" id="">
                <img src="/css/Assets/icon-pesquisar.svg" class="img-pesquisar" alt="...">
            </button>
        </div>

        <a class="navbar-brand " asp-area="" asp-controller="Home" asp-action="Index">
            <button type="button" class="btn btn-primary icon-add_Func">
                <img id="home" class="icone-button" src="/css/Assets/icon-add-func.svg" alt="">
                Criar Registro
            </button>
        </a>


    </div> *@
    


</div>



