
.container-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 0 0;
}

.container-user {
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    align-items: center;
    background: #ffff;
    border-radius: 2px;
    box-shadow: 2px 0px 60px 2px rgb(53, 43, 81, 0.10);
    padding: 2rem;
    gap: 1rem;
}

.user_title-info h2{
    align-items: stretch;
}

formUser{
    text-align:end;
}

.buttonAll{
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    gap: 1rem;
}

.grupoButton {
    gap: 1.5rem;
}